@model CrhystelVelascoTallerClase.Models.Estadio

@{
    ViewData["Title"] = "Create";
}

<div class="card border">
    <div class="card-header bg-dark text-white">
		<h4>Crear Estadio</h4>
    </div>
    <div class="card-body">
		<div class="row">
			<div class="col-md-8">
				<form asp-action="Create">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-group">
						<label asp-for="Direccion" class="control-label"></label>
						<input asp-for="Direccion" class="form-control" />
						<span asp-validation-for="Direccion" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Ciudad" class="control-label"></label>
						<input asp-for="Ciudad" class="form-control" />
						<span asp-validation-for="Ciudad" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Capacidad" class="control-label"></label>
						<input asp-for="Capacidad" class="form-control" />
						<span asp-validation-for="Capacidad" class="text-danger"></span>
					</div>
					<div class="form-group mt-3">
						<input type="submit" value="Create" class="btn btn-primary ml-2" />
						<a class="btn btn-secondary ml-2" asp-action="Index">Regresar</a>
					</div>
				</form>
			</div>
		</div>

		@section Scripts {
			@{
				await Html.RenderPartialAsync("_ValidationScriptsPartial");
			}
		}

    </div>
</div>
