@model CrhystelVelascoTallerClase.Models.Equipo

@{
    ViewData["Title"] = "Create";
}

<h1>Crear Equipo</h1>

<div class="card border">
    <div class="card-header bg-dark text-white">
        <h4>Equipo</h4>
    </div>
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ciudad" class="control-label"></label>
                <input asp-for="Ciudad" class="form-control" />
                <span asp-validation-for="Ciudad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AceptaExtranjeros" /> @Html.DisplayNameFor(model => model.AceptaExtranjeros)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="IdEstadio" class="control-label">Estadio</label>
                <select asp-for="IdEstadio" class="form-control" asp-items="ViewBag.IdEstadio"></select>
                <span asp-validation-for="IdEstadio" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 20px;">
                
                <input type="submit" value="Crear" class="btn btn-primary ml-2" />
                <a class="btn btn-secondary ml-2" asp-action="Index">Regresar</a>
            </div>
        </form>
    </div>
</div>

