@model CrhystelVelascoTallerClase.Models.Equipo

@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card border">
                <div class="card-header bg-dark">
                    <h4 class="text-white"><strong>Editar Equipo</strong></h4>
                </div>
                <div class="card-body">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />

                        <div class="form-group">
                            <label asp-for="Nombre" class="control-label" style="font-weight: bold;"></label>
                            <input asp-for="Nombre" class="form-control" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Ciudad" class="control-label" style="font-weight: bold;"></label>
                            <input asp-for="Ciudad" class="form-control" />
                            <span asp-validation-for="Ciudad" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Titulo" class="control-label" style="font-weight: bold;"></label>
                            <input asp-for="Titulo" class="form-control" />
                            <span asp-validation-for="Titulo" class="text-danger"></span>
                        </div>

                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="AceptaExtranjeros" /> @Html.DisplayNameFor(model => model.AceptaExtranjeros)
                            </label>
                        </div>

                        <div class="form-group">
                            <label asp-for="IdEstadio" class="control-label" style="font-weight: bold;">Estadio</label>
                            <select asp-for="IdEstadio" class="form-control" asp-items="ViewBag.IdEstadio"></select>
                            <span asp-validation-for="IdEstadio" class="text-danger"></span>
                        </div>

                        <!-- Añadimos margen superior a los botones -->
                        <div class="form-group mt-3">
                            <input type="submit" value="Guardar" class="btn btn-primary mr-2" />
                            <a asp-action="Index" class="btn btn-secondary ml-2">Regresar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


