@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid mt-5 bg-image">
    <div class="row justify-content-center">
        
    </div>
</div>

<style>
    .bg-image {
        background-image: url('https://radiorumba.fm/wp-content/uploads/2018/07/ligapro-logo.jpg');
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
        height: 50vh; 
    }
</style>
